langchain
langgraph
langchain-groq 
langchain-community 
langchain-tavily 
python-dotenv 
tavily-python 
requests 
streamlit
langchain-mcp-adapters
langgraph-checkpoint-postgres
psycopg[binary]
psycopg-pool
mcp==1.28.1
